
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/pay2win-theme/FileContentIndex/597659e3-9679-4a8f-87aa-f0de6e39901d.vsidx
.vs/pay2win-theme/FileContentIndex/72428de8-1766-45d1-9bdb-cd6aa4d09019.vsidx
.vs/pay2win-theme/FileContentIndex/0f191bdd-d691-49ec-bd1b-d985a50629a1.vsidx
